.ui-icon-new:after{
    background-image: url("../images/消息.png");
    background-size: 18px 18px;
}
.end{
    margin: 0 auto;
    padding-top: 50px;
    color: #cccccc;

}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 60px;
}
.ui-content{
    margin-top: 0px;
    padding-bottom: 150px;
}
.main{
    margin-top: 50px;
}
ul li a img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}
ul li a img:first-child{
    border-radius: 50%;
}
.header{
    height: 50px;
    background-color: #00FFFF;
}
.header a img{
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0 ;

}
.pan{
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;

}
.list li a img{
    padding: 0px 0px 10px 0px;

}
.list li{
    height: 20px;
}

#myPopup{
    /*height: 50px;*/
    margin: 20px 0 0 0px;
    padding: 0;

}
#myPopup .list{
    margin-top: -20px;
    padding: 0;
}
#myPanel{
    display: flex;
    flex-direction: column;
    background: #EDEDED;
}
#myPanel .bg_avatar{
    /*height: 200px;*/
    height: 0;
    margin:  -18px -18px 0 -18px;
    /*border-style: solid;*/
    background-image: url("../images/xz.jpg");
    width:115%;
    padding-bottom: 80%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    /*opacity: 0.8;*/

}

.bg_avatar .msg{
    display: flex;
    flex-direction: row;
    height: 60px;
    /*border-style: solid;*/
    padding-top: 70px;
    padding-left: 10px;
}
.bg_avatar h1{
    color: white;
    font-family: Serif;
    padding-left: 10px;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: solid;
    background-color: white;

}
#myPanel .bom_list{
    height: 425px;
    margin:  -50px -20px 0 -18px;
    /*border-style: solid;*/

}

/*注册页面*/
#page{
    animation:myfirst 10s infinite; /*animation 时间 播放次数*/
    animation-direction:alternate; /*是否循环交替反向播放动画*/

}
@keyframes myfirst
{
    0% {background:#87CEFF;}
    25% {background:#54FF9F;}
    50% {background:#7CCD7C;}
    75% {background:#63B8FF;}
    100% {background:#00FFFF;}
}
.login-img{
    height: 60px;
    width: 60px;
}

#userName{
    margin: 5px 0 1px 20px;
    padding: 0 10px 0 0;
}
#passWd{
    margin: 5px 0 1px 20px;
    padding: 0 10px 0 0;
}
.top{
    position: relative;
    margin-top: 20px;
    height: 100px;
    width: 200px;

}
.top img{
    float: left;
}
.top h2{
    position: absolute;
    font-size: 50px;
    top: -40px;
    left: 70px;
    color: white;
}
form input{
    color: red;
}

/*动态页面*/

.a{
    /*height: 100px;*/
    /*width: 102px;*/
    background-color: #7A8B8B;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 0px;
    font-size: 14px;
    color: #FFFFFF;
    transform: scale3d(1, 1, 1);
    opacity: 0.8;
}
/*加入动态效果*/
.a:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}
.list{
    margin-top: 50px;
    /*margin-left: 0px;*/
}
.page{

    background:radial-gradient( #FFFFFF, #00FFFF);
}


.b .ui-block-a {
    width: 54%;
}
.b .ui-block-b{
    width: 42%;
}
.c .ui-block-a {
    width: 40%;
}
.c .ui-block-b{
    width: 56%;
}
.ui-block-a{
    width: 98%;
}
.d .ui-block-a {
    width: 48%;
}
.d .ui-block-b{
    width: 48%;
}
.e .ui-block-a {
    width: 55%;
}
.e .ui-block-b{
    width: 41%;
}
.list{
    margin-left: 5px;
}
