.header{
	/*background: linear-gradient(to right, #BFEFFF, #fff, #BFEFFF);*/
    background: #0099ff;
}


/*.ui-icon-person:after {*/
	/*background-image: url("../image/person.png");*/
	/*background-size: 18px 18px;*/
/*}*/

.ui-page-theme-a .ui-btn.ui-btn-active{
	background-color: #BFEFFF;
    /*border-color: #BFEFFF;*/
}
.bottom{
	display: flex;
    flex-direction: row;
}
.right{
    position: fixed;
    right: 15px;
}
